<h1>User Details</h1>
<h3>Name: <%= @user.username %></h3>
<h3>Commented on Posts:</h3>
<ul>
    <% @user.posts.each do |post| %>
        <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
</ul>