<%= @post.title %>
<%= @post.content %>

<ul>
  <% @post.comments.each do |comment| %>
    <li><%= "#{comment.user.username} says: #{comment.content}" %></li>
  <% end %>
</ul>


<%= render 'comment', comment: Comment.new %>
