
<h1>Title: <%= @post.title%></h1>
<h2>Content: <%= @post.content%></h2>

Categories:

<ul>
    <% @post.categories.each do |category| %>
    <li>
        <%= category.name %>
    </li>
    <%end%>
</ul>



  